.navbar {
    background-color: #575258!important;  
}
.quem_somos {
    background-color: #575258;
}
.margin {
    padding-top:50px;
    padding-bottom: 50px;
}
.servicos{
    background-color: #575258;
}

.bg-footer {
    background-color: #575258!important;
 color: white;
}